In [4]:
!git clone https://gist.github.com/anshuthakur/ade0662750c0feda8383f449f30543c2.js

'git' is not recognized as an internal or external command,
operable program or batch file.

In [5]:
import pandas as pd
from bokeh.plotting import figure, output_file, show

In [6]:
def make_dashboard(x, gdp_change, unemployment, title, file_name):
    output_file(file_name)
    p = figure(title=title, x_axis_label='year', y_axis_label='%')
    p.line(x.squeeze(), gdp_change.squeeze(), color="firebrick", line_width=4, legend="% GDP change")
    p.line(x.squeeze(), unemployment.squeeze(), line_width=4, legend="% unemployed")
    show(p)

In [7]:
links={'GDP':'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/projects/coursera_project/clean_gdp.csv',\
       'unemployment':'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/projects/coursera_project/clean_unemployment.csv'}

In [8]:
df_gdp = pd.read_csv(links["GDP"])
df_gdp.head()

   date  level-current  level-chained  change-current  change-chained
0  1948          274.8         2020.0            -0.7            -0.6
1  1949          272.8         2008.9            10.0             8.7
2  1950          300.2         2184.0            15.7             8.0
3  1951          347.3         2360.0             5.9             4.1
4  1952          367.7         2456.1             6.0             4.7

In [9]:
df_gdp.head()

   date  level-current  level-chained  change-current  change-chained
0  1948          274.8         2020.0            -0.7            -0.6
1  1949          272.8         2008.9            10.0             8.7
2  1950          300.2         2184.0            15.7             8.0
3  1951          347.3         2360.0             5.9             4.1
4  1952          367.7         2456.1             6.0             4.7

#

In [10]:
df_unemp = pd.read_csv(links['unemployment'])

In [11]:
df_unemp.head()

   date  unemployment
0  1948      3.750000
1  1949      6.050000
2  1950      5.208333
3  1951      3.283333
4  1952      3.025000

#

In [12]:
df_unemp85 = df_unemp[df_unemp['unemployment'] > 8.5]
df_unemp85.head()

    date  unemployment
34  1982      9.708333
35  1983      9.600000
61  2009      9.283333
62  2010      9.608333
63  2011      8.933333

In [13]:
x = df_gdp['date']
x.head()

0    1948
1    1949
2    1950
3    1951
4    1952
Name: date, dtype: int64

In [14]:
gdp_change = df_gdp['change-current'] # Create your dataframe with column change-current
gdp_change.head()

0    -0.7
1    10.0
2    15.7
3     5.9
4     6.0
Name: change-current, dtype: float64

In [15]:
unemployment = df_unemp['unemployment'] # Create your dataframe with column unemployment
unemployment.head()

0    3.750000
1    6.050000
2    5.208333
3    3.283333
4    3.025000
Name: unemployment, dtype: float64

In [16]:
title = 'GDP and Unemployment Data'

In [17]:
file_name = "index.html"

In [18]:
make_dashboard(x=x, gdp_change=gdp_change, unemployment= unemployment, title=title, file_name=file_name)

#

In [19]:
endpoint = 'https://s3-api.us-geo.objectstorage.softlayer.net'

In [20]:
bucket_name = 'at-cc-tutorial' # Type your bucket name on IBM Cloud

In [24]:
!pip install boto3
import boto3

Collecting boto3
  Downloading https://files.pythonhosted.org/packages/85/de/9130f2113bdd3b67d7c90f263cb1a254045bd3e349404e0d7d4c99f6d2ab/boto3-1.14.23-py2.py3-none-any.whl (128kB)
Collecting botocore<1.18.0,>=1.17.23 (from boto3)
  Downloading https://files.pythonhosted.org/packages/77/71/5b973cd4acf3332f3c4642d9ef1f9acf859f390d9510ff12c9b20fcb1dc0/botocore-1.17.23-py2.py3-none-any.whl (6.3MB)
Collecting jmespath<1.0.0,>=0.7.1 (from boto3)
  Downloading https://files.pythonhosted.org/packages/07/cb/5f001272b6faeb23c1c9e0acc04d48eaaf5c862c17709d20e3469c6e0139/jmespath-0.10.0-py2.py3-none-any.whl
Collecting s3transfer<0.4.0,>=0.3.0 (from boto3)
  Downloading https://files.pythonhosted.org/packages/69/79/e6afb3d8b0b4e96cefbdc690f741d7dd24547ff1f94240c997a26fa908d3/s3transfer-0.3.3-py2.py3-none-any.whl (69kB)
Requirement already satisfied: urllib3<1.26,>=1.20; python_version != "3.4" in c:\programdata\anaconda3\lib\site-packages (from botocore<1.18.0,>=1.17.23->boto3)
Requirement already satisfied: docutils<0.16,>=0.10 in c:\programdata\anaconda3\lib\site-packages (from botocore<1.18.0,>=1.17.23->boto3)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in c:\programdata\anaconda3\lib\site-packages (from botocore<1.18.0,>=1.17.23->boto3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.18.0,>=1.17.23->boto3)
Installing collected packages: jmespath, botocore, s3transfer, boto3
Successfully installed boto3-1.14.23 botocore-1.17.23 jmespath-0.10.0 s3transfer-0.3.3

You are using pip version 9.0.1, however version 20.1.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [26]:
    's3',
    aws_access_key_id = credentials["cos_hmac_keys"]['access_key_id'],
    aws_secret_access_key = credentials["cos_hmac_keys"]["secret_access_key"],
    endpoint_url = endpoint)

SyntaxError: invalid syntax (<ipython-input-26-7a5ada6594e0>, line 4)

In [28]:

import os

directory = os.getcwd()
html_path = directory + "/" + file_name

In [29]:
f = open(html_path,'r')

In [30]:
resource.Bucket(name=bucket_name).put_object(Key=file_name, Body=f.read())

NameError: name 'resource' is not defined

In [31]:
Params = {'Bucket':bucket_name ,'Key':file_name }

In [32]:
import sys
time = 7*24*60**2
client = boto3.client(
    's3',
    aws_access_key_id = credentials["cos_hmac_keys"]['access_key_id'],
    aws_secret_access_key = credentials["cos_hmac_keys"]["secret_access_key"],
    endpoint_url=endpoint,

)
url = client.generate_presigned_url('get_object',Params=Params,ExpiresIn=time)
print(url)

NameError: name 'credentials' is not defined